:root{
    --color-principal: #0f0e17;
    --color-secundario: #fed941;
    --color-letra: #fffffe;
}
.body{
    position: relative;
}
.search{
    position:fixed;
    z-index: 10 ;
    padding: 2%;
    left: 0px;
    top:0px;
    padding-top: 50px;
    width: 100%;
    background-color: #0f0e1798;
    overflow: auto;
}
#cartasbuscador{
    background-color: var(--color-principal);
}
.sticky{
    position: fixed;
    bottom: 2vw;
    right: 10px;
    color: #fffffe;
    background-color: var(--color-principal);
    border: 1px solid var(--color-secundario);
    outline: none;
}
.Responsive{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2% 1% 2%;
    display:none;
}
.medio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
   
}
.toggle{
    background-color: var(--color-principal);
    outline: none;
}
.toggle:active{
    background-color: var(--color-principal);
}
.toggle:hover{
    outline: none;
}
.menu{
    background-color: var(--color-principal);
    padding: 2%;
}
#react-aria3190670730-5.btn.toggle.dropdown-toggle.btn-primary{
    background-color: var(--color-principal) !important;
    outline: none !important;
    border: 1px solid var(--color-secundario) !important;
    
}
#react-aria3190670730-5:focus{
    outline: none;
}
.dropdowne:active{
    outline: none;
    color: transparent !important;
}
#react-aria4575991650-1{
    background-color: transparent !important;
     border: 1px solid var(--color-secundario) !important;
     outline: none;
}
.menuItem:hover{
    background-color: transparent;
    border-bottom: 1px solid var(--color-secundario);
}

@media  (max-width:450px){
    .Responsive,#navPublic{
        display: flex;
        
    }
    .medio{
         display: none !important;
    }
    
}
@media (max-width:800px) {
    .medio,#navPublic{
        display: flex;
    }
}
@media (min-width:800px) {
    .medio{
        display: none;
    }
}
@media (max-width:800px) {
    .navbar{
        display: none;
    }
    
      
    
}