:root{
    --color-principal: #0f0e17;
    --color-secundario: #fed941;
    --color-letra: #fffffe;
}
.contendorCaja{
    width: 80%;
    margin: auto;
    .cards{
        margin: 2px;
    }
}
.carta{
    background-color: transparent;
    border: 1px solid var(--color-secundario);
    color: var(--color-letra);
    position: relative;
    overflow: hidden;
    height: 450px;
    .title{
        text-align: center;
    }
    .voto{
        border: 1px solid var(--color-secundario);
        border-radius: 5px;
        padding: 2%;
        width:fit-content;
        background-color: var(--color-principal);
        .bi-star-fill{
            color: var(--color-secundario);
        }
    }
    .overview{
        position: absolute;
        top: 100%;
    }
}


.carta:hover{
    .overview{
        top: 0px;
        height: 100%;
        width: 100%;
        background-color: var(--color-principal);
        left: 0px;
        padding: 2%;
        overflow: scroll;
        text-align: justify;
        font-size: 0.8rem;
    }
}
.btnMostrarMovie:hover{
    transform: none;
}