:root {
  --color-principal: #0f0e17;
  --color-secundario: #fed941;
  --color-letra: #fffffe;
}

.body {
  position: relative;
}

.search {
  position: fixed;
  z-index: 10;
  padding: 2%;
  left: 0px;
  top: 0px;
  padding-top: 50px;
  width: 100%;
  background-color: #0f0e1798;
  overflow: auto;
}

#cartasbuscador {
  background-color: var(--color-principal);
}

.sticky {
  position: fixed;
  bottom: 2vw;
  right: 10px;
  color: #fffffe;
  background-color: var(--color-principal);
  border: 1px solid var(--color-secundario);
  outline: none;
}

.Responsive {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2% 1% 2%;
  display: none;
}

.medio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.toggle {
  background-color: var(--color-principal);
  outline: none;
}

.toggle:active {
  background-color: var(--color-principal);
}

.toggle:hover {
  outline: none;
}

.menu {
  background-color: var(--color-principal);
  padding: 2%;
}

#react-aria3190670730-5.btn.toggle.dropdown-toggle.btn-primary {
  background-color: var(--color-principal) !important;
  outline: none !important;
  border: 1px solid var(--color-secundario) !important;
}

#react-aria3190670730-5:focus {
  outline: none;
}

.dropdowne:active {
  outline: none;
  color: transparent !important;
}

#react-aria4575991650-1 {
  background-color: transparent !important;
  border: 1px solid var(--color-secundario) !important;
  outline: none;
}

.menuItem:hover {
  background-color: transparent;
  border-bottom: 1px solid var(--color-secundario);
}

@media (max-width: 450px) {
  .Responsive {
    display: flex;
  }

  .medio {
    display: none !important;
  }
}
@media (max-width: 800px) {
  .medio {
    display: flex;
  }
}
@media (min-width: 800px) {
  .medio {
    display: none;
  }
}
@media (max-width: 800px) {
  .navbar {
    display: none;
  }
}
:root {
  --color-principal: #0f0e17;
  --color-secundario: #fed941;
  --color-letra: #fffffe;
}

.bi-geo-alt-fill {
  color: var(--color-secundario);
}

.geo {
  color: #fffffe;
  font-size: 1rem;
}

:root {
  --color-principal: #0f0e17;
  --color-secundario: #fed941;
  --color-letra: #fffffe;
}

.contendorCaja {
  width: 80%;
  margin: auto;
}
.contendorCaja .cards {
  margin: 2px;
}

.carta {
  background-color: transparent;
  border: 1px solid var(--color-secundario);
  color: var(--color-letra);
  position: relative;
  overflow: hidden;
  height: 450px;
}
.carta .title {
  text-align: center;
}
.carta .voto {
  border: 1px solid var(--color-secundario);
  border-radius: 5px;
  padding: 2%;
  width: fit-content;
  background-color: var(--color-principal);
}
.carta .voto .bi-star-fill {
  color: var(--color-secundario);
}
.carta .overview {
  position: absolute;
  top: 100%;
}

.carta:hover .overview {
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: var(--color-principal);
  left: 0px;
  padding: 2%;
  overflow: scroll;
  text-align: justify;
  font-size: 0.8rem;
}

:root {
  --color-principal: #0f0e17;
  --color-secundario: #fed941;
  --color-letra: #fffffe;
}

.modal {
  background-color: #0f0e179f;
}
.modal .modalHeader {
  background-color: var(--color-principal);
  border-top: 1px solid var(--color-secundario);
  border-left: 1px solid var(--color-secundario);
  border-right: 1px solid var(--color-secundario);
  color: #fffffe;
}
.modal .modalBody {
  border-left: 1px solid var(--color-secundario);
  border-right: 1px solid var(--color-secundario);
  background-color: var(--color-principal);
}
.modal .modalFooter {
  background-color: var(--color-principal);
  border-left: 1px solid var(--color-secundario);
  border-right: 1px solid var(--color-secundario);
  border-bottom: 1px solid var(--color-secundario);
}

:root {
  --color-principal: #0f0e17;
  --color-secundario: #fed941;
  --color-letra: #fffffe;
}

body {
  background-color: var(--color-principal);
  width: 100vw;
}

.title:hover {
  transform: scale(1.1, 1.1);
}

.contenedor {
  width: 100%;
  padding: 10%;
}
.contenedor .form {
  width: 80%;
  margin: auto;
  border: 1px solid var(--color-letra);
  padding: 5%;
  border-radius: 5px;
  color: var(--color-letra);
}
.contenedor .form .input {
  background: var(--color-letra);
  color: var(--color-principal);
  height: 30px;
}
.contenedor .form .google-btn:hover {
  transform: scale(1.1, 1.1);
}

.btn {
  background: transparent;
  border: 1px solid var(--color-secundario);
  height: 30px;
  padding-bottom: 5%;
  outline: none;
}

.btn:hover {
  transform: scale(1.1, 1.1);
  background-color: transparent;
  border: 3px solid var(--color-secundario);
  outline: none;
}

.carrusel {
  height: 300px;
}
.carrusel .itemCarrusel {
  height: 300px;
}
.carrusel .itemCarrusel .image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 0% 50%;
}

.containere {
  width: 100%;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
}

.navbar {
  background-color: black;
  padding: 0px;
}
.navbar .contenedorNav {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
.navbar .contenedorNav .Nav {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1%;
  flex-basis: 100%;
}

#btn {
  align-self: center;
  height: 30px;
  width: 60px;
  background: transparent;
  color: var(--color-letra);
  border: 1px solid var(--color-secundario);
}

#btn:hover {
  transform: scale(1.1, 1.1);
  background-color: transparent;
  border: 3px solid var(--color-secundario);
}

.containerB {
  display: flex;
  align-items: center;
  margin-right: 2%;
}
.containerB .buscador {
  background-color: transparent;
  border: 1px solid var(--color-secundario);
  color: var(--color-secundario);
}
.containerB .buscador::placeholder {
  color: var(--color-letra);
}
.containerB .buscador:focus {
  outline: none;
}

.contenedorMispeliculas {
  display: flex;
  flex-direction: column;
}
.contenedorMispeliculas .button {
  background-color: transparent;
  height: 26px;
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid var(--color-secundario);
  color: #fffffe;
  width: 20%;
  margin-left: 2%;
  margin-top: 2%;
  justify-self: right;
}
.contenedorMispeliculas .button .bi {
  color: transparent;
  font-size: 1rem;
}
.contenedorMispeliculas .button:hover {
  color: var(--color-secundario);
}
.contenedorMispeliculas .button:hover .bi {
  color: var(--color-secundario);
}
.contenedorMispeliculas .formMovie {
  color: var(--color-letra);
}
.contenedorMispeliculas .formMovie .inputMovie {
  background-color: transparent;
  border: 1px solid var(--color-letra);
  color: var(--color-secundario);
}
.contenedorMispeliculas .formMovie .file {
  color: #fffffe;
}
.contenedorMispeliculas .formMovie .bi-x-octagon {
  display: block;
  width: 100%;
  text-align: right;
  margin-bottom: 2%;
  color: var(--color-secundario);
}

.pelis .peliculauser {
  height: 80px;
  overflow: hidden;
  display: flex;
}
.pelis .peliculauser .imgUser {
  width: 5rem;
}
.pelis .peliculauser:hover {
  height: auto;
  overflow: visible;
}
.pelis .peliculauser:hover .imgUser {
  width: 100%;
}
.pelis .peliculauser:hover .contendorPelis {
  align-self: center;
}
.pelis .peliculauser:hover .contendorPelisbtn {
  align-items: center;
}
.pelis .peliculauser:hover .contendorPelisbtn button {
  height: 70px;
  width: 60px;
}
.pelis h3 {
  color: var(--color-secundario);
  text-align: center;
  font-size: 1.2rem;
}
.pelis p {
  color: var(--color-letra);
}
.pelis hr {
  color: var(--color-secundario);
}
.pelis .contendorPelisbtn {
  display: flex;
  justify-content: space-around;
}
.pelis .bi {
  color: var(--color-letra);
  font-size: 1rem;
}
.pelis button {
  background-color: transparent;
  height: 26px;
  border-radius: 3px;
  border: 1px solid var(--color-secundario);
  outline: none;
}

/*# sourceMappingURL=myStyle.css.map */
