@use "buscador";
@use "mapa";
@use "Cartas";
:root{
    --color-principal: #0f0e17;
    --color-secundario: #fed941;
    --color-letra: #fffffe;
}
body{
    background-color: var(--color-principal);
    width: 100vw;
}
.title:hover{
    transform: scale(1.1, 1.1);
}
.contenedor{
    width: 100%;
    padding: 10%;

    .form{
        width: 80%;
        margin: auto;
        border: 1px solid var(--color-letra);
        padding: 5%;
        border-radius: 5px;
        color: var(--color-letra);
        .input{
            background: var(--color-letra);
            color: var(--color-principal);
            height: 30px;
        }
        
        
        .google-btn:hover{
            transform: scale(1.1, 1.1);
        }
    }
}
.btn{
    background: transparent;
    border: 1px solid var(--color-secundario);
    height: 30px;
    padding-bottom: 5%;
}
.btn:hover{
    transform: scale(1.1, 1.1);
    background-color: transparent;
    border: 3px solid var(--color-secundario);
}
.carrusel{
    height: 300px;
    .itemCarrusel{
        height: 300px;
        .image{
            
            width: 100%;
            height: 600px;
           object-fit:cover;
           object-position: 0% 50%;
        }
    }
    
}


.containere{
    width: 100%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
}

// NavBar Privado
.navbar{
    background-color: black;
    padding: 0px;
    .contenedorNav{
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 1%;
        
        .Nav{
            display: flex;
            justify-items: center;
            align-items: center;
            gap: 1%;
            flex-basis: 100%;
            
        }
    }
}
#btn{
    align-self: center;
    height: 30px;
    width: 60px;
    background: transparent;
    color: var(--color-letra);
    border: 1px solid var(--color-secundario);
}
#btn:hover{
    transform: scale(1.1, 1.1);
    background-color: transparent;
    border: 3px solid var(--color-secundario);
}
.containerB{
    display: flex;
    align-items: center;
    margin-right: 2%;
    position: relative;
    .buscador{
        background-color: transparent;
        border: 1px solid var(--color-secundario);
        color: var(--color-secundario);
        
    }
    .buscador::placeholder{
            color: var(--color-letra);
        }
    
    .buscador:focus{
        outline: none;
    }
}



.contenedorMispeliculas{
    display: flex;
    flex-direction: column;
    .button{
        background-color: transparent;
        height:26px;
        border-radius: 3px;
        border: none;
        border-bottom: 1px solid var(--color-secundario);
        color: #fffffe;
        width: 20%;
        margin-left: 2%;
        margin-top: 2%;
        justify-self: right;
        .bi{
        color: transparent;
        font-size: 1rem;
        }
    }
    .button:hover{
        color: var(--color-secundario);
        .bi{
            color: var(--color-secundario);
        }
    }
    .formMovie{
        color: var(--color-letra);
        .inputMovie{
            background-color: transparent;
            border: 1px solid var(--color-letra);
            color: var(--color-secundario);
        }
        .file{
            color: #fffffe;
        }
        .bi-x-octagon{
            display: block;
            width: 100%;
            text-align: right;
            margin-bottom: 2%;
            color: var(--color-secundario) ;
        }
    }
}
.pelis{
    .peliculauser{
        height: 80px;
        overflow:hidden;
        display: flex;
        
        .imgUser{
            width: 5rem;
        }
        
    }
    .peliculauser:hover{
        height: auto;
        overflow:visible;
        .imgUser{
            width: 100%;
        }
        .contendorPelis{
        align-self: center;
        }
        .contendorPelisbtn{
        align-items: center;
        button{
            height: 70px;
            width: 60px;
        }
    }
    }
    h3{
        color: var(--color-secundario);
        text-align: center;
        font-size: 1.2rem;
    }
    p{
        color:var(--color-letra) ;
    }
    hr{
        color: var(--color-secundario);
    }
    .contendorPelisbtn{
        display: flex;
        justify-content: space-around;
        // align-items: center;
    }
    .bi{
        color: var(--color-letra);
        font-size: 1rem;
    }
    button{
        background-color: transparent;
        height:26px;
        border-radius: 3px;
        border: 1px solid var(--color-secundario);
    }
}

